.catalog {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.catalog-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  flex: 1;
  min-height: 0;
}
